<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rodapé</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }

        footer {
            background-color: #33605a;
            text-align: center;
            padding: 20px;
        }

        .container {
            flex: 1;
            padding: 20px;
        }
    </style>
</head>

<body>
    <footer class="text-white py-4 mt-5">
        <div class="container text-center">
            <p class="mb-1">&copy; Desenvolvido por Bianca Labanca, Tamires Martins e Felipe Pereira</p>
        </div>
    </footer>
</body>

</html>